[validator_manager_config] ####################################################################################################

validator_manager_mnemonic = history excuse cat will weasel display quantum bubble globe reason enough subway success churn slender dust broken surface behave imitate hood palace boil ability calm


[certify_config] ####################################################################################################

stress_test_app_id = 3566


[daemon_config] ##########################################################################################################

loop_period_s = 1
logging_level = DEBUG


[algo_client_config] ###################################################################################################

algod_config_server = http://localhost:4001
algod_config_token = aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
indexer_config_server = http://localhost:8980
indexer_config_token = aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
kmd_config_server = http://localhost:4002
kmd_config_token = aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
